<style>#atfstatic h1,#atfstatic h3{text-align:left;font-weight:900;margin-left:50px;color:#fff}#sub-head{text-align:center;margin-top:0}#newsletter{background-color:transparent}#masonry ul{position:absolute;width:100%;max-width:1366px;overflow:hidden}.invis{visibility:hidden}@media only screen and (max-width:450px){#atfstatic h3{font-size:8pt;margin-top:-15px}#atfstatic h1{font-size:24pt}}@media only screen and (min-width:451px) and (max-width:588px){#atfstatic h3{font-size:10pt;margin-top:-15px}#atfstatic h1{font-size:36pt}}@media only screen and (min-width:801px){#custom-gekks a .button{padding:10px 0;font-size:20pt}#atfstatic h1{margin-top:-30%}#reviews-i{padding:100px 0}}@media only screen and (max-width:800px){#custom-gekks a .button{padding:0;font-size:14pt}body>header .wrap .nav-display.active span{background:0 0!important}body>header .nav-display span:after,body>header .nav-display span:before{content:"";width:100%;height:3px;position:absolute;display:block;left:0;background:#fff!important}body>header .nav-display span,body>header.fixed .nav-display span{top:30px;left:15px;right:15px;transition:none!important;height:3px;position:absolute;display:block}body>header .nav-display span{background:#fff!important}body>header.fixed .nav-display span{background:#1e1e1e!important}body>header.fixed .nav-display span:after,body>header.fixed .nav-display span:before{content:"";width:100%;height:3px;position:absolute;display:block;left:0;background:#1e1e1e!important}body>header div nav{top:65px!important}#atfstatic h1{margin-top:-53%}#reviews-i{padding:50px 0}}#atfstatic{background-size:100%;background-repeat:no-repeat;width:100%;height:0;letter-spacing:normal;margin-bottom:50px}#reviews-i{background:#3fc}#atfstatic h1{line-height:1}#atfstatic h3{text-transform:none!important;letter-spacing:normal;margin-top:10px}@media only screen and (min-width:1080px){#atfstatic h1{font-size:70pt}#atfstatic h3{font-size:24pt}}body>header .search-toggle,body>header .sign-in{filter:brightness(0) invert(1)}body .cart .cart-icon{filter:invert(100%);}#custom-gekks a .button{margin:50px;display:inline-block;width:300px;max-width:600px;height:auto;background:0 0!important;border:3pt solid #3fc;padding:0 10px;color:#fff}.banner h4{display:none}body>header{width:100%;position:absolute;background:0 0;transition:all .15s ease-in-out;z-index:1000;left:0;top:0}body>header nav ul li a{color:#fff}body>header.fixed{position:fixed;box-shadow:0 2px 5px rgba(0,0,0,.05);background:rgba(255,255,255,.98);transition:all .35s ease-in-out;padding-bottom:1%}body>header.fixed .search-toggle,body>header.fixed .sign-in{filter:none!important}body>header.fixed nav ul li a{color:#000}body>header.fixed #blogo{display:inline-block!important}body>header.fixed #blogo-w{display:none}body>header.fixed .cart .cart-icon{filter:none}.current-switch{background-color:#3fc}
header #activate-countdown, header #countdown { display: none !important; }

 body>header.fixed div.wrap>div .cart span { background-color: #33ffcc !important; } 
  body>header div.wrap>div .cart span{ background-color: white !important; } 
  
  body #atfstatic #custom-gekks a .button { border-color: white !important; } 
  .text-green { color: white !important; } 
#atfstatic{
	padding-top:45%;
	background-image:url("{{'ATF-E.jpg'| asset_url }}")
}

  body div #atfstatic h1, body div #atfstatic h3 {color: white !important;}

@media only screen and (max-width: 800px) {
  #atfstatic {
	padding-top:75%;
    background-color: #33ffcc;
  	background-position: bottom; 
  }
}

</style>

<div class="index-sections"> 
  <div> 
    <div class="cbb-ignored-image">
      <div id="atfstatic">
        <h1>get ready to <br><span class="text-green">love</span> your socks</h1>
        <h3>the innovative sock that <span class="text-green">locks</span> invisibly inside your shoe</h3>
        <div id="custom-gekks">
          <a href="/products/womens-closet-pack"><div class="button" onclick="ga('send', 'event', 'Above the Fold CTA', 'Click', 'Shop Your Gekks');">Shop Your Gekks</div></a>
        </div>
      </div>
      <section id="vr-gekks">
        <h3>check it out for</h3>
        <h2>yourself</h2>
        <div>
          <div class="switch-button current-switch" id="switch-to-flat">flats</div>
          <div class="switch-button" id="switch-to-loafer">loafers</div>
          <div class="switch-button" id="switch-to-sneaker">sneakers</div>
        </div>
          <div class="shoe-switch">see in shoe</div>
          <p class="drag-it">^</p>
          <div class="sirv-spin-hint" id="spin-hint"><span class="drag-it"><</span> Drag Gekk to Rotate <span class="drag-it">></span></div>
          <p class="drag-it" id="rot-drag">^</p>
          <iframe class="Sirv" id="spin-frame" src="https://sibepher.sirv.com/Geek%20Flats%20NEW/Geek%20Flats%20NEW.spin" width="100%" frameborder="0"></iframe>
      </section> 
      <div class="fw" id="featured-in-i">
        <h3>featured in...</h3>
        <div>
          <img src="{{'BuzzFeed.png' | asset_url}}" alt="BuzzFeed"/> 
          <img src="{{'simple.png' | asset_url}}" alt="Real Simple" /> 
          <img src="{{'vogue.png' | asset_url}}" alt="Vogue"/> 
          <img src="{{'tfm.jpg' | asset_url}}" alt="TFM" /> 
          <img src="{{'maxim.png' | asset_url}}" alt="Maxim"/> 
          <img src="{{'teenvogue.png' | asset_url}}" alt="Teen Vogue"/> 
        </div>
      </div>
      <div id="sub-head">
        <a href="/products/select" class="button double" id="ctadb" onclick="ga('send', 'event', 'Call To Action', 'Click', 'Shop Now CTA');">Shop Now</a> <a href="/pages/learn-more" class="button double" id="ctadb" onclick="ga('send', 'event', 'Call To Action', 'Click', 'Learn More CTA');">Learn More</a>
      </div>
      <div class="fw" id="reviews-i">
        <h2>Reviews</h2>
        <center>
          <div class="review-list">
            <div>I wore my pair of ballet flats all day and they were very comfortable! Not too difficult to put in my shoes. Definitely the answer for me, as the heel of any other liner has always slipped off before.</div>
          </div>
          <p class="reviewer-list mo-plus">Sheri K.</p>
          <div class="review-list">
            <div>So far they seem to work well. The videos are easy to follow and they were easy to install. I've only gotten to try the ballet style ones but they were comfortable.</div>
          </div>
          <p class="reviewer-list">Jennie S.</p>
          <p class="reviewer-list do-plus">Sheri K.</p>
          <div class="review-list">
            <div>They stay in my flats with no trouble. I am an 8 C width and got the size that goes to 8.5 and they just fit. I would have liked a little more coverage but don’t think the larger size would have worked. So, all in all I like them and would consider repurchasing</div>
          </div>
          <div class="review-list">
            <div>Love Gekks! I typically get blisters or rubbed toes when I don’t wear socks with my shoes, but with Gekks, I can walk for hours without a rubbing or blister anywhere! I’ll be buying more soon.</div>
          </div>
          <p class="reviewer-list do-plus">Danielle H.</p>
          <p class="reviewer-list do-plus">Lee N.</p>
        </center>
        <p class="see-mas">
          <a href="/pages/reviews" style="text-decoration: underline;">see more reviews</a>
        </p>
      </div>
      <div id="masonry">
        <ul>
          <li>
            <a href="/products/womens-closet-pack" onclick="ga('send', 'event', 'Masonry', 'Click', 'Women');"> 
              <img src="{{'shopwomen1.jpg' | asset_url}}" alt="Shop Women" class="m vertical">
              <div class="ot" id="shopwomen">
                  <h2>women</h2>
                  <h4 class="bl">shop</h4>
              </div>
            </a>
          </li>
          <li>
            <a href="/pages/about-us" onclick="ga('send', 'event', 'Masonry', 'Click', 'Our Story');"> 
              <img src="{{'our-story-i.jpg' | asset_url}}" alt="Our Story" class="m horiz">
              <div class="ot" id="ourstory">
                <h2>our story</h2>
                <h4 class="bl">get inspired</h4>
              </div>
            </a>
          </li>
          <li>
            <a href="/pages/how-it-works" onclick="ga('send', 'event', 'Masonry', 'Click', 'How It Works');"> 
              <img src="{{'HIW-landing.jpg' | asset_url}}" alt="How It Works" class="m horiz" id="imghiw">
              <div class="ot" id="learnmore">
                <h2>how it works</h2>
                <h4 class="bl">learn more</h4>
              </div>
            </a>
          </li>
          <li>
            <a href="/products/mens-closet-pack" onclick="ga('send', 'event', 'Masonry', 'Click', 'Men');"> 
              <img src="{{'men-masonry.jpg' | asset_url}}" alt="Shop Men" class="m vertical" id="imgsm">
                <div class="ot" id="shopmen">
                  <h2>men</h2>
                  <h4 class="bl">shop</h4>
                </div>
            </a>
          </li>
        </ul>
      </div>
      <div id="footer-email">
        <section id="newsletter" class="content">
          <div class="wrap">
            <h5>follow us on social for a chance to win</h5>
            <h2>free shoes every week</h2>
            <div>
              <form action="{{settings.mailchimp_code}}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <input type="email" value="" name="EMAIL" class="required email email_update" id="mce-EMAIL" placeholder="write email" style="border: black 1px solid; line-height: 1;">
                  <input type="submit" value="go!" name="subscribe" id="mc-embedded-subscribe" class="btn">
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" class="hidden"></div>
                    <div class="response" id="mce-success-response" class="hidden"></div>
                  </div>
              </form>
           </div>
          </div>
          <div id="social-icon-i">
            <a href="https://www.facebook.com/GekksLowCutLiners"><img src="{{'fb.png' | asset_url}}" alt="Facebook"/></a>
            <a href="https://www.pinterest.com/gekksliners/gekks-low-cut-liners/"><img src="{{'ig.png' | asset_url}}" alt="Instagram"/></a> 
            <a href="https://www.instagram.com/gekks_go_sockless/"><img src="{{'pinterest.png' | asset_url}}" alt="Pinterest"/></a> 
          </div>
        </section>
      </div>
    </div>
  </div>
</div> 

<script>
    $('.switch-button').click(function(){
      var display = ""
      switch ($(this).attr("id")) {
        case "switch-to-flat": 
          display = 'https://sibepher.sirv.com/Geek%20Flats%20NEW/Geek%20Flats%20NEW.spin'
          $(this).addClass('current-switch').siblings().removeClass('current-switch');
          break;
        case "switch-to-sneaker":
          display = 'https://sibepher.sirv.com/Gekk%20Sneaker%20NEW/Gekk%20Sneaker%20NEW.spin';
          $(this).addClass('current-switch').siblings().removeClass('current-switch');
          break;
        case "switch-to-loafer":
          display = 'https://sibepher.sirv.com/Gekk%20Loafer%20(1-26)/Gekk%20Loafer%20(1-26).spin';
          $(this).addClass('current-switch').siblings().removeClass('current-switch');
          break; 
      }
      $('.shoe-switch').text('see in shoe')
      $('.Sirv').attr('src', display); 
    }); 

    $('.shoe-switch').click(function() {
      var display = ""
      if ($('.Sirv').attr('src').indexOf('Sneaker') >= 0) {
        if ($('.Sirv').attr('src').indexOf('Shoe') >= 0)  {
          display = 'https://sibepher.sirv.com/Gekk%20Sneaker%20NEW/Gekk%20Sneaker%20NEW.spin'
        }
        else {
          display = 'https://sibepher.sirv.com/Gekk%20in%20Sneaker%20(1-30)/Sneaker%20in%20Shoe%20(1-30).spin'
        }
      }
      else if ($('.Sirv').attr('src').indexOf('Loafer') >= 0) {
        if ($('.Sirv').attr('src').indexOf('Shoe') >= 0)  {
          display = 'https://sibepher.sirv.com/Gekk%20Loafer%20(1-26)/Gekk%20Loafer%20(1-26).spin'
        }
        else {
          display = 'https://sibepher.sirv.com/Gekk%20in%20Loafer%20(1-30)/Loafer%20in%20Shoe%20(1-30).spin'
        }
      }
      else if ($('.Sirv').attr('src').indexOf('Flat') >= 0) {
        if ($('.Sirv').attr('src').indexOf('Shoe') >= 0)  {
          display = 'https://sibepher.sirv.com/Geek%20Flats%20NEW/Geek%20Flats%20NEW.spin'
        }
        else {
        display = 'https://sibepher.sirv.com/Flat%20in%20Shoe%20NEW/Flat%20in%20Shoe%20NEW.spin'
        }
      }
      $('.Sirv').attr('src', display); 
      $('.shoe-switch').text($('.shoe-switch').text() == "see in shoe" ? "see outside shoe" : "see in shoe")
    })

    $(window).load(function() {
      if ($(window).width() > 599) {
        $("#masonry").css({
            height: $("#imgsm").height() + "px"
        }), $("#masonry ul").css({
            height: $("#imgsm").height() - 2 + "px"
        })
      }
      else {
        $('#masonry').css({
          height: ($('#masonry ul li').height()*4) + 20 + "px"
        })
      }
    })
, $(window).on("resize", function() {
   if ($(window).width() > 599) {
        $("#masonry").css({
            height: $("#imgsm").height() + "px"
        }), $("#masonry ul").css({
            height: $("#imgsm").height() - 2 + "px"
        })
    }
     else {
        $('#masonry').css({
          height: ($('#masonry ul li').height()*4) + 20 + "px"
        }), $('#masonry ul').css({ height: 'auto' })
      } 
    });
    on_index = true;
</script>